<h1>Algos</h1>
<p>This website is intended to demonstrate the ability to perform simple algorithms in Ruby, with the results displayed using the Ruby on Rails platform.</p>
<p>It will likely serve you no practical purpose, but it has been of value to me in learning RoR conventions and Ruby syntax, and hopefully it will be of some value to you.</p>
