<h1>Algos Searching</h1>
<p>Basic searching algorithms</p>
<ul class="nav">
    <li>
    <%= link_to('Linear', algos_searchings_linears_path) %>
    </li>
    <li>
    <%= link_to('Binary', algos_searchings_binarys_path) %>
    </li>
</ul>