<h1>Algos Sorting</h1>
<p>Basic sorting algorithms</p>
<ul class="nav">
    <li>
    <%= link_to('Bubble', algos_sortings_bubbles_path) %>
    </li>
    <li>
    <%= link_to('Quicksort', algos_sortings_quicksorts_path) %>
    </li>
</ul>